*, html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
    background-color:aqua;
}

.titleform {
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 38%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
    border: 2pt;
    border-style: solid;
    border-radius: 10px;
    
}

.form {
    width: 50%;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 10px;   
}

.username {
    width: 120%;
    background-color: white;
    border-radius: 5px;
}

.email {
    width: 120%;
    background-color: white;
    border-radius: 5px;
}

.password {
    width: 120%;
    background-color: white;
    border-radius: 5px;
}

.tanggallahir {
    width: 120%;
    background-color: white;
    border-radius: 5px;
}

.submit {
    width: 120%;
    color: white;
    background-color: blue;
    border-radius: 5px;
}