*, html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}


/* navbar */

img {
    width: 12%;
    align-items: center;
    padding-left: 80px;
}
nav {
    display: flex;
    background-color: #00fefe;
    justify-content: space-around;
    padding: 20px 0;
    color: antiquewhite;
    list-style: none;
}
nav ul {
    display: flex;
    list-style: none;
    background-color: aqua;
    width: 15%;
    justify-content: space-around;
    padding: 50px;   
    
}



/* article */

h2 {
    padding: 20px;
    padding-bottom: 10px;
}

.article1 {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: gray;
    margin: 15px;
    padding: 20px;
    padding-right: 10px;
    border-radius: 10px;
}
.ap1 {
    padding-top: 10px;
    color: black;
}

.article2 {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: gray;
    margin: 15px;
    padding: 20px;
    padding-right: 10px;
    border-radius: 10px;
}
.ap2 {
    padding-top: 10px;
    color: black;
}

.article3 {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: gray;
    margin: 15px;
    padding: 20px;
    padding-right: 10px;
    border-radius: 10px;
}
.ap3 {
    padding-top: 10px;
    color: black;
}



