.form {
	max-width: 500px;
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
}

.form-input-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.form-input-group > label {
	grid-column: span 1 / span 1;
}

.form-input-group > input {
	grid-column: span 2 / span 2;
	padding: 5px;
}

.form-input-group .radio-group {
	grid-column: span 2 / span 2;
	display: flex;
	gap: 10px;
}

.form button {
	background-color: lightblue;
	padding: 10px 20px;
	border: 2px black solid;
	border-radius: 10px;
	font-size: 15px;
}
