.loading-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 50px;
	padding: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #f7ab1b;
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: spinner 1s infinite linear;
}
@keyframes spinner {
	to {
		transform: rotate(1turn);
	}
}
